html {
    font-family: Arial, Helvetica, sans-serif;
}

.container:after,
.container:before {
    content: "";
    display: table;
    clear: both
}

.container {
    padding: 0.01em 16px
}

h2 {
    font-weight: bolder;
    font-size: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.card {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}

li {
    height: 216px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd
}

.bar {
    width: 100%;
    overflow: hidden
}

.bar .bar-item {
    padding: 8px 16px 8px 16px;
    float: left;
    height: 200px;
    width: 200px;
    border: none;
    display: block;
    outline: 0
}

.circle {
    border-radius: 50%
}

.large {
    font-weight: bold;
    font-size: 25px
}

.medium {
    font-size: 18px
}